$mr_avatar: 13px;

.message{
    display: flex;
    align-items: flex-end;
    margin: 20px 0;

    &__avatar{
        margin-left: $mr_avatar;
        margin-right: $mr_avatar;

    }

    &__content{
        position: relative;
    }

    &__bubble{
        border-radius: 12px 12px 12px 0px;
        padding: 9px 20px 10px 17px;
        width: max-content;
        max-width: 600px;
    }

    &__text{
        font-size: 14px;
        font-weight: normal;
        text-align: left;
        line-height: 140%;
    }

    &__date{
        position: absolute;
        left: 0;
        bottom: -20px;

        width: max-content;
        font-size: 12px;
        font-weight: normal;
        text-align: left;
    }
}