$mr_avatar: 13px;

.message{
    $self: &;

    display: flex;
    align-items: flex-end;
    margin: 20px 0;

    &__avatar{
        margin-left: $mr_avatar;
        margin-right: $mr_avatar;
    }

    &__content{
        position: relative;
    }
    
    &__bubble{
        border-radius: 12px 12px 12px 0px;
        padding: 9px 20px 10px 17px;
        width: max-content;
        max-width: 600px;
    }

    &__text{
        font-size: 14px;
        font-weight: normal;
        text-align: left;
        line-height: 140%;
    }

    &__date{
        position: absolute;
        left: 0;
        bottom: -20px;

        width: max-content;
        font-size: 12px;
        font-weight: normal;
        text-align: left;
    }

    &__attachments{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 15px;
        gap: 5px;

        &-item{
            cursor: pointer;
            max-width: 100%;
            overflow: hidden;
            border-radius: 5px;

            &--few{
                max-width: 48%;
            }

            img{
                object-fit: cover;
                height: 100%;
                object-position: center;
                width: 100%;
            }
        }
    }
    
    &__done{
        margin: 0 5px;
    }

    &--isme{
        flex-direction: row-reverse;

        #{$self}__bubble{
            border-radius: 12px 12px 0px 12px;
        }
        #{$self}__date{
            right: 0;
            left: auto;
        }
        #{$self}__attachments{
            flex-direction: row-reverse;
            justify-content: flex-end;
        }
    

    }
}